@import '../abstracts/variables';

@each $text-size, $multiplier in $text-size-options {
	[data-text-size='#{$text-size}'] {
		@each $text-size in $text-sizes {
			.text-size-#{$text-size} {
				font-size: #{$text-size * $multiplier}px;

				&.q-field-dense {
					.q-field__control, .q-field__marginal {
						height: 46px * $multiplier;
					}
					.q-field__label {
						top: (46px * $multiplier) / 4;
						font-size: 16px * $multiplier;
						line-height: 23px * $multiplier;
					}
				}
				&.q-field--labeled {
					.q-field__native {
						line-height: 24px * $multiplier;
					}
				}

				&.q-select {
					.q-field__label {
						font-size: 16px * $multiplier;
						top: 18px * $multiplier;
						line-height: 23px * $multiplier;
					}
					.q-field__marginal {
						height: 56px * $multiplier;
					}
					&.q-field--auto-height.q-field--labeled.q-field__control-container {
						padding-top: 24px * $multiplier;
					}
				}

				&.q-tab {
					.q-tab__icon {
						width: 24px * $multiplier;
						height: 24px * $multiplier;
						font-size: 24px * $multiplier;
					}
					.q-tab__label {
						font-size: #{$text-size * $multiplier}px;
					}
				}
			} 
		}
	}
};