@use "sass:map";
@import './variables';

$themes: (
	'blue': (
		primary: $blue,
		secondary: $orange,
		positive: $positive,
		negative: $negative,
		dark: $dark,
		medium: $medium,
		light: $light,
		backdrop: $backdrop,
		info: $info,
		warning: $warning,
		border-color: $orange
	),
	'yellow': (
		primary: $yellow,
		secondary: $indigo,
		positive: $positive,
		negative: $negative,
		dark: $dark,
		medium: $medium,
		light: $light,
		backdrop: $backdrop,
		info: $info,
		warning: $warning,
		border-color: $indigo
	),
	'green': (
		primary: $green,
		secondary: $purple,
		positive: $positive,
		negative: $negative,
		dark: $dark,
		medium: $medium,
		light: $light,
		backdrop: $backdrop,
		info: $info,
		warning: $warning,
		border-color: $purple
	),
	'orange': (
		primary: $orange,
		secondary: $blue,
		positive: $positive,
		negative: $negative,
		dark: $dark,
		medium: $medium,
		light: $light,
		backdrop: $backdrop,
		info: $info,
		warning: $warning,
		border-color: $blue
	)
);

@each $theme, $colors in $themes {
	[data-theme="#{theme}"] {
		@each $name, $color in colors {
			.bg-#{$name} {
				background: $color;
			}
			.text-#{$name} {
				color: $color;
			}
		}
		.q-field__control, q-item--active {
			color: map.get($colors, primary);
		}
	}
};