$indigo   : #3f51b5;
$purple 	: #5c6bc0;
$blue      : #448aff;
$yellow    : #ff0;
$green     : #76ff03;
$orange    : #ff6e40;

$positive: #21BA45;
$negative: #C10015;
$dark: #413D45;
$medium: #89868B;
$light: #CFCED0;
$backdrop: #FFF8F1;
$info: #31CCEC;
$warning: #F2C037;

$border-radius: 0.25rem !default;
$box-shadow: 0 0.5rem 1rem rgba($dark, 0.15) !default;